<div style='text-align: center;'>
  <img
    src='https://this-person-does-not-exist.com/'
    alt=''
    style='max-width: 300px;'
  />
  <h4>Bonjour,</h4>

  <p>
    {{message}}
  </p>
  <br />
  <small style='opacity: 0.8; font-style: italic;'>A BIENTOT.</small>
</div>